:root .LiveConfigPage-light {
  --text-color: #000000;
  --border-color: #5a5a5a;
  --background-color: #e5e3e8;
  --not-selected-color: #c5c4c5;
  --well-color: #b9b8bb;
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
}

:root .LiveConfigPage-dark {
  --text-color: #e5e3e8;
  --border-color: #9b9a9a;
  --background-color: #232127;
  --not-selected-color: #3b383f;
  --well-color: #15151a;
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
}

.LiveConfigPage {
  font-family: Arial, Helvetica, sans-serif;

  margin-left: auto;
  margin-right: auto;

  text-align: center;

  padding: 5px;

  color: var(--text-color);
  background-color: var(--background-color);
}

.DefaultButton {
  display:inline-block;
  margin: 5px;

  background-color: #9147FF;
  color: white;
  padding: 7px 6px 7px 6px;

  border: none;
  border-radius: 2px;
}

.DefaultButton:hover {
  background-color: #7D5BBE;
}

.DefaultButton:focus {
  outline:none;
}

.DefaultButton:active {
  background-color: #604691;
}

.Well {
  position:relative;
  display: block;
  width:90%;
  min-height: 2rem;

  background-color: var(--well-color);
  
  font-size: medium;
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;

  border-radius: 4px;
}

.DropdownTrigger {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.DropdownTrigger--open {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.DropdownTrigger:after {
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  content: '+';
  transform:rotateZ(360deg);
  transition: transform 250ms;
}

.DropdownTrigger--open:after {
  position: absolute;
  right: 0.5rem;
  top: 0.2rem;
  transform: rotateZ(180deg);
  transition: transform 250ms;
  content: '-';
  float: right;
}
