.Matchup {
  height: fit-content;
  display: inline-block;
  text-align: left;
  padding: 0.5em;
  //padding-top: 10px;  
  border-bottom: solid 2px var(--not-selected-color);
}

.Champion {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Challenger {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
