.App {
  display:block;
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  height:100%;
}

:root .App-light {
  --text-color: #000000;
  --border-color: #5a5a5a;
  --background-color: #e5e3e8;
  --selected-color: #c5c4c5;
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
}

:root .App-dark {
  --text-color: #e5e3e8;
  --border-color: #9b9a9a;
  --background-color: #232127;
  --selected-color: #3b383f;
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  width: 47%;
  font-size: 500%;
}

.react-tabs__tab--selected {
  background: var(--selected-color);
  border-color: var(--border-color);
  color: var(--text-color);
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: #5a5a5a;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
