.QueueView {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  height: 90vh;
}

.Queue {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5em;
  border-bottom: solid 5px var(--not-selected-color);
}

.Join {
  height: 10vh;
  display: inline-block;
  text-align: center;
  padding: 0.5em;
}

.QueueButton {
  font-size: 1em;
  background-color: var(--not-selected-color);
  border: none;
  color: var(--text-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.QueueButton:disabled {
  color: var(--border-color);
}

.KickButton {
  float: right;
  cursor: pointer;
  border: 'none';
}

ol {
  margin: 0px;
  height: fit-content;
  overflow: hidden;
  padding-left: 1.2em;
}

hr {
  background-color: var(--not-selected-color);
  height: 2px;
  margin: 20px;
}
