.QueueView {
  display: flex;
  flex-direction: column;
  flex-flow: column;
}

.Queue {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  height: 62vh;
  padding-left: 1.2em;
}

.Champion {
  height: 10vh;
  display: inline-block;
}

.Join {
  height: 10vh;
  display: inline-block;
  text-align: center;
}

.QueueButton {
  font-size: 1em;
  background-color: var(--not-selected-color);
  border: none;
  color: var(--text-color);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

ol {
  margin-top: 0px;
}

hr {
  background-color: var(--not-selected-color);
  height: 2px;
  margin: 20px;
}
